/* style.css */

.navbar-collapse {
   
}
 


/* trending items section */
.trending-title {
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 46px;
  text-align: center;
}

.trending-design {
  color: rgb(228, 60, 92);
}


 
/*  */
 
  

/* slider */
.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 500px; /* Adjust max-height as per your requirement */
  object-fit: cover;
}
@media (max-width: 768px) {
  .carousel-item img {
      max-height: 300px; /* Adjust for smaller screens */
  }
}
@media (max-width: 576px) {
  .carousel-item img {
      max-height: 200px; /* Adjust for even smaller screens */
  }
}

/*  */


/* whatapp chatbot css */
.whatsapp-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.whatsapp-chat img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 0.3s;
}
.whatsapp-chat img:hover {
  transform: scale(1.1);
}

 

 
.clean-block.clean-hero {
  position: relative;
  width: 100%;
  height: 100vh;  
  overflow:  ;
  color: var(--bs-border-color-translucent);
  background: url("/assets/img/radium\ color\ ART\ HOME\ PAGE.png") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
   
  background-position: center;  
  background-repeat: no-repeat;  
}

 

.text-container {
  position: relative;
  text-align: center;
  color: white;
  z-index: 1; /* Ensure text is above the background image */
  padding: 0 20px; /* Add padding for better readability */
}

.text-container h1 {
  font-size: 8vw; /* Responsive font size */
  font-weight: bolder;
  margin: 0;
  padding: 0;
  font-family: 'Kalnia Glaze', sans-serif; /* Apply the Kalnia Glaze font */
}

/* Animation Keyframes */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

 

  .text-container h1 {
      font-size: 6vw; /* Adjust font size for smaller screens */
  }
 

 

 
/* services css */
.title-padding {
    padding-bottom: 20px;
}

.title-padding h2 {
    color: black;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 46px;
}

.awesome-services {
    color: rgb(228, 60, 92);
}

.colorful-services {
    color: #d12d33;
}

.icon-box {
    margin-bottom: 15px;
    font-size: 90px;
    border: 2px solid orangered;
}

.icon-box .material-icons {
    font-size: 68px;
}

.services .icon-box {
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background: white;
    box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    text-align: center;
  }
  
  .services .icon-box::before {
    content: '';
    position: absolute;
    background: #fdeff2;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.4s;
    z-index: -1;
  }
  
  .services .icon-box:hover::before {
    background: red;
    top: 0;
    border-radius: 0px;
     
  }
  
  .services .icon {
    margin-bottom: 15px;
  }
  
  .services .icon i {
    font-size: 60px;
    line-height: 1;
    color: #e43c5c;
    transition: all 0.3s ease-in-out;
   
  }
  
  .services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .title a {
    color: #111;
  }
  
  .services .description {
    font-size: 15px;
    line-height: 28px;
    font-weight: normal;
 

/ 

/* SLIDING TIMING FUNCTIONS
/*-------------------------------------------- */

/* ----- ps_ease ----- */

.ps_ease .carousel-item {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* ----- ps_easeInOut ----- */

.ps_easeInOut .carousel-item {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* ----- ps_speedy ----- */

.ps_speedy .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}

/* ----- ps_slowSpeedy ----- */

.ps_slowSpeedy .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}

/* ----- ps_easeOutInCubic ----- */

.ps_easeOutInCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}

/* ----- ps_swing ----- */

.ps_swing .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}

/* ----- ps_easeOutCubic ----- */

.ps_easeOutCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}

/* ----- ps_easeInOutCubic ----- */

.ps_easeInOutCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

/* ----- ps_easeOutCirc ----- */

.ps_easeOutCirc .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}

/* ----- ps_easeOutExpo ----- */

.ps_easeOutExpo .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}

/* ----- ps_easeInQuad ----- */

.ps_easeInQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}

/* ----- ps_easeOutQuad ----- */

.ps_easeOutQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}

/* ----- ps_easeInOutQuad ----- */

.ps_easeInOutQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}

/* ----- ps_easeOutQuart ----- */

.ps_easeOutQuart .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}

/* ----- ps_easeInOutQuart ----- */

.ps_easeInOutQuart .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}

/* ----- ps_easeOutQuint ----- */

.ps_easeOutQuint .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}

/* ----- ps_easeInSine ----- */

.ps_easeInSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}

/* ----- ps_easeOutSine ----- */

.ps_easeOutSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}

/* ----- ps_easeInOutSine ----- */

.ps_easeInOutSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}


    margin-bottom: 0;
    color: black;
  }
  
  .services .icon-box:hover .title a, .services .icon-box:hover .description {
    color: #fff;
  }
  
  .services {
    padding-bottom: 30px;
  }
  
  .services .icon-box:hover .icon i {
    color: #fff;
  }
  
 

/* SLIDING TIMING FUNCTIONS
/*-------------------------------------------- */

/* ----- ps_ease ----- */

.ps_ease .carousel-item {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* ----- ps_easeInOut ----- */

.ps_easeInOut .carousel-item {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* ----- ps_speedy ----- */

.ps_speedy .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}

/* ----- ps_slowSpeedy ----- */

.ps_slowSpeedy .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}

/* ----- ps_easeOutInCubic ----- */

.ps_easeOutInCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}

/* ----- ps_swing ----- */

.ps_swing .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}

/* ----- ps_easeOutCubic ----- */

.ps_easeOutCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}

/* ----- ps_easeInOutCubic ----- */

.ps_easeInOutCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

/* ----- ps_easeOutCirc ----- */

.ps_easeOutCirc .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}

/* ----- ps_easeOutExpo ----- */

.ps_easeOutExpo .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}

/* ----- ps_easeInQuad ----- */

.ps_easeInQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}

/* ----- ps_easeOutQuad ----- */

.ps_easeOutQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}

/* ----- ps_easeInOutQuad ----- */

.ps_easeInOutQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}

/* ----- ps_easeOutQuart ----- */

.ps_easeOutQuart .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}

/* ----- ps_easeInOutQuart ----- */

.ps_easeInOutQuart .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}

/* ----- ps_easeOutQuint ----- */

.ps_easeOutQuint .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}

/* ----- ps_easeInSine ----- */

.ps_easeInSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}

/* ----- ps_easeOutSine ----- */

.ps_easeOutSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}

/* ----- ps_easeInOutSine ----- */

.ps_easeInOutSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}

/*  */



/* vanilla zoom */
.vanilla-zoom {
    width: 100%;
  }
  
  .vanilla-zoom .sidebar {
    width: 100%;
    display: flex;
  }
  
  .vanilla-zoom .sidebar img.small-preview {
    width: 60px;
    margin-right: 5px;
    cursor: pointer;
    opacity: .5;
  }
  
  .vanilla-zoom .sidebar img.small-preview.active, .vanilla-zoom .sidebar img.small-preview:hover {
    opacity: 1;
  }
  
  .vanilla-zoom .sidebar img.small-preview:last-child {
    margin-right: 0;
  }
  
  .vanilla-zoom .zoomed-image {
    width: 100%;
    height: 300px;
    flex: 1;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    margin-bottom: 5px;
  }

  /*  */


  /* ui card css */
  h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  

/* styles.css */

h2 {
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 46px;
    text-align: center;
}

 



  .blog-card-blog {
    margin-top: 30px;
  }
  
  .blog-card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .blog-card .blog-card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  
  .blog-card .blog-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
  }
  
  .blog-card .blog-table {
    padding: 15px 30px;
  }
  
  .blog-table {
    margin-bottom: 0px;
  }
  
  .blog-category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
  }
  
  .blog-text-success {
    color: #6f6f6f!important;
  }
  
  .blog-card-blog .blog-card-caption {
    margin-top: 5px;
  }
  
  .blog-card-caption {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
  }
  
  .blog-card-caption, .blog-card-caption a {
    color: #333;
    text-decoration: none;
  }
  
  p {
    color: #3C4857;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .blog-card .ftr {
    margin-top: 15px;
  }
  
  .blog-card .ftr .author {
    color: #888;
  }
  
  .blog-card .ftr div {
    display: inline-block;
  }
  
  .blog-card .author .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .blog-card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
  }
  
  .blog-card .ftr .stats {
    float: right;
    line-height: 30px;
  }
  
  a {
    text-decoration: none;
  }
  
  /*  */


/* button */
  .custom-enquire-button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
}
.custom-enquire-button a {
    color: white;
    text-decoration: none;
}
.custom-enquire-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}




/* gallery */
.photo-gallery {
  margin-top: 30px;
}



/* seacrh input */

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/*  */